client/electron-app/dist
client/electron-app/node_modules

server/node_modules/
.env
.DS_Store



server/dashboard/views/admin_users.ejs
server/dashboard/views/admin.ejs
admin/

client/cli-app/node_modules
client/cli-app/dist